// FONTS
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");

// GLOBAL
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
}

button {
  font-family: "Lato", sans-serif;
}

// GLOBAL CLASSES
.content-container {
  max-width: 1300px;
  margin: 0 auto;
}
